/*-------------------------------------------
ブログトップページ
-------------------------------------------*/

@use "../common/variables" as va;

.latest_section,
.page_navigation {
  margin-bottom: 60px;
}

.latest_section .img_wrap {
  margin-right: 80px;
}

.latest_section .box_img {
  max-height: 100%;
}

.page_navigation {
  text-align: center;
  margin-top: 60px;
}

.latest_text_area {
  margin-left: 90px;
}

.link_box {
  display: flex;
  justify-content: center;
  align-items: center;

}

.top_link_box {
  flex-direction: column;
}

.box_img {
  max-height: 195px;
  overflow: hidden;
}

.new_icon {
  background-image: url('/asset/img/blogInfo/newMark.png');
  background-position: 50px;
  padding: 70px 100px 0 0;
  margin: 60px 0 45px 0;
  font-size: 2rem;
}

.post_data,
.post_title {
  letter-spacing: 7px;
}

.post_title {
  color: va.$base-font-color;
  word-wrap: break-word;
}

.post_data {
  margin-bottom: 20px;
  color: #A1928B;
}

.topics_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics_area .post_box {
  width: 300px;
  margin: 40px 40px 0 0;
}

.topics_area .post_box .link_box {
  display: block;
}

.topics_area .textbox {
  padding-left: 0;
}
