@each $name, $color in $colors {
    .#{$name} {
        color: $color !important;
    }

    .bg-#{$name} {
        background: $color !important;
    }

    .bg-#{$name}-opacity {
        background: rgba($color, 0.7) !important;
    }

    .bg-hover-#{$name}:hover {
        background: $color !important;
    }

    .font-#{$name} {
        color: $color !important;
    }

    .bg-font-#{$name} {
        color: $color !important;
    }

    .border-#{$name} {
        border-color: $color !important;
    }

    .border-top-#{$name} {
        border-top-color: $color !important;
    }

    .border-bottom-#{$name} {
        border-bottom-color: $color !important;
    }

    .border-left-#{$name} {
        border-left-color: $color !important;
    }

    .border-right-#{$name} {
        border-right-color: $color !important;
    }
}
