.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;

    &.-active {
        width: 100%;

        .overlay-content {
            opacity: 1;
        }
    }

    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 300ms 0.5s ease;
    }

    a {
        display: block;
        @include fs(14);
        transition: 0.3s;
        text-decoration: none;

        &:focus,
        &:hover {
            color: #f1f1f1;
        }

        &.nav--sp__list__item__link {
            width: 40%;
        }
    }

    .closebtn {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 50px;
    }
}
