
/*-------------------------------------------
メニューページ
-------------------------------------------*/
@use"./common/variables" as va;

.title-view {
  position: relative;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/asset/img/menu/pageTitle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #b98e51;
    opacity: 0.3;
    z-index: -1;

  }
}

.page_text {
  width: 100%;

  h1 {
    font-weight: bold;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.menu_list_title {
  text-align: center;
}

.menus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  margin: 20px 21px;
}


.menu_img_area {
  padding-bottom: 10px;
}

.menu_img {
  max-width: 280px;
  max-height: 230px;
}

.menu_list_title {
  font-size: 1.5rem;
}