#footer {
  background-color: #d09359;
}

.footer_menu {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.site_area {
  text-align: left;
}

.site_map_area {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
}

.site_map_area li {
  padding-right: 30px;
}

.site_map_area li:last-child {
  padding-right: 0;
}

.sns_area {
  display: flex;
  justify-content: flex-end;
}

.copyright {
  text-align: center;
  padding-bottom: 60px;
}
